{% extends "layout.html" %}

{% block title %}add_project - My Portfolio{% endblock %}

{% block extra_css %}
    .service-card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .service-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(154, 12, 173, 0.15);
    }

    .service-icon {
      font-size: 3rem;
      color: #0d6efd;
    }
{% endblock %}

{% block content %}

<form method="POST" class="container my-5" enctype="multipart/form-data">
  <h2>إضافة مشروع جديد</h2>
  <div class="mb-3">
    <label class="form-label">عنوان المشروع</label>
    <input type="text" class="form-control" name="title" required>
  </div>
  <div class="mb-3">
    <label class="form-label">رابط الصورة</label>
    <input type="file" name="images" multiple required>
    </div>
  <div class="mb-3">
    <label class="form-label">وصف المشروع</label>
    <textarea class="form-control" name="description" rows="4" required></textarea>
  </div>
  <button type="submit" id="upload_btn" class="btn btn-primary"> <div id="app">
    <div id="arrow"></div>
    <div id="success">
      <i class="fas fa-check-circle"></i>
    </div>
  </div>
</button>
</form>


{% endblock %}
