
{% extends "layout.html" %}

{% block title %}contact - My Portfolio{% endblock %}

{% block content %}

<section class="py-5">
    <div class="container">
      <h2 class="mb-4">تواصل معنا</h2>
  
      {% if success %}
      <div class="alert alert-success">تم إرسال رسالتك بنجاح، سنقوم بالرد عليك قريبًا.</div>
      {% endif %}
  
      <form method="POST" action="{{ url_for('send_massege') }}">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          <label for="message" class="form-label">عاوز ايه ابعت رساله و هرد عليك في اقرب وقت</label>
         {{ form.message(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </section>

{% endblock %}