{% extends "layout.html" %}

{% block title %}project - My Portfolio{% endblock %}


{% block extra_css %}
    .img {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .img:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }
{% endblock %}

{% block content %}

  <!-- Projects Section -->
<section class="py-5">
  <div class="container">
    <h2>{{ project.title }}</h2>
<p>{{ project.description }}</p>

<div class="gallery">
    {% for img in project.images %}
        <img src="{{ img.image_url }}" alt="صورة المشروع" width="200" style="margin:10px;">
    {% endfor %}
</div>

  </div>
</section>

{% endblock %}